<link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>

<div class="login">
  <h2 class="active"> ♥ Let me know if it is you ♥ </h2>
  <div>
    <input type="text" class="text" name="username" [(ngModel)]="que1" placeholder="What do I call you so often ?">
    <br>

    <input type="password" class="text" name="password" [(ngModel)]="que2" placeholder="Name of your pet dog ?">
    <br>

    <input type="password" class="text" name="password" [(ngModel)]="que3" placeholder="Your name in my phone ?">
    <br>
    
    <button class="signin" (click)="login()">
      Sign In
    </button>


    <hr>
</div>

</div>